# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [54]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [55]:
city_data = pd.read_csv('out.csv')
city_data

,City,Lat,Lng,Max temp,Humidity,Cloudiness,Wind speed,Country,Date
0,Puerto Baquerizo Moreno,-0.90,-89.60,73.40,78,75,14.99,EC,1595453586
1,Hermanus,-34.42,19.23,54.00,92,0,3.85,ZA,1595453345
2,Tasiilaq,65.61,-37.64,42.80,87,35,5.82,GL,1595453586
3,Coahuayana Viejo,18.73,-103.68,88.54,60,98,6.98,MX,1595453586
4,Vostok,46.49,135.88,64.11,94,97,1.12,RU,1595453515
...,...,...,...,...,...,...,...,...,...
560,Jiuquan,39.74,98.52,69.17,50,100,8.52,CN,1595453498
561,Port Augusta,-32.50,137.77,33.01,85,40,5.82,AU,1595453728
562,Laramie,41.31,-105.59,82.40,15,90,8.05,US,1595453728
563,Berdigestyakh,62.10,126.70,63.09,74,0,5.28,RU,1595453729
564,Taksimo,56.34,114.88,58.42,81,100,1.66,RU,1595453729

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [56]:
gmaps.configure(api_key=g_key)

In [57]:
locations = city_data[["Lat", "Lng"]].astype(float)

In [58]:
weight = city_data["Humidity"].astype(float)

In [61]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=weight, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [7]:
weather_criteria = city_data[city_data["Max temp"] > 70]
weather_criteria

,City,Lat,Lng,Max temp,Humidity,Cloudiness,Wind speed,Country,Date
0,Albany,42.60,-73.97,91.99,42,82,10.02,US,1595282380
3,Hilo,19.73,-155.09,82.40,58,75,9.17,US,1595282446
4,Katsuura,35.13,140.30,75.99,92,100,7.00,JP,1595282510
5,Hudson Bay,52.85,-102.38,73.06,50,100,3.98,CA,1595282510
6,Poum,-20.23,164.02,70.36,64,5,10.65,NC,1595282510
...,...,...,...,...,...,...,...,...,...
573,Termez,37.22,67.28,80.60,34,20,9.17,UZ,1595282649
574,Santa Cruz de Barahona,18.21,-71.10,91.40,59,20,17.22,DO,1595282649
575,Masuguru,-11.37,38.42,70.56,67,81,3.33,TZ,1595282649
577,Erzin,36.96,36.20,80.01,86,0,1.39,TR,1595282650
579,Nishihara,26.18,127.76,82.40,88,20,2.24,JP,1595282056

In [8]:
weather_criteria = weather_criteria[weather_criteria["Max temp"] < 80]
weather_criteria

,City,Lat,Lng,Max temp,Humidity,Cloudiness,Wind speed,Country,Date
4,Katsuura,35.13,140.30,75.99,92,100,7.00,JP,1595282510
5,Hudson Bay,52.85,-102.38,73.06,50,100,3.98,CA,1595282510
6,Poum,-20.23,164.02,70.36,64,5,10.65,NC,1595282510
10,Faanui,-16.48,-151.75,77.40,82,38,25.84,PF,1595282056
11,Tura,25.52,90.22,74.08,98,100,4.76,IN,1595282512
...,...,...,...,...,...,...,...,...,...
567,Bamako,12.65,-8.00,75.20,94,20,3.36,ML,1595282523
568,Lapasan,8.48,124.66,75.99,87,57,4.00,PH,1595282648
569,Chenzhou,25.80,113.03,75.38,88,95,4.05,CN,1595282648
570,Strathmore,51.05,-113.39,73.00,60,0,3.00,CA,1595282550
575,Masuguru,-11.37,38.42,70.56,67,81,3.33,TZ,1595282649

In [9]:
weather_criteria = weather_criteria[weather_criteria["Wind speed"] < 10]
weather_criteria

,City,Lat,Lng,Max temp,Humidity,Cloudiness,Wind speed,Country,Date
4,Katsuura,35.13,140.30,75.99,92,100,7.00,JP,1595282510
5,Hudson Bay,52.85,-102.38,73.06,50,100,3.98,CA,1595282510
11,Tura,25.52,90.22,74.08,98,100,4.76,IN,1595282512
22,Vaini,-21.20,-175.20,73.40,73,20,4.70,TO,1595282515
44,Duma,34.77,108.14,73.40,83,99,6.71,CN,1595282520
...,...,...,...,...,...,...,...,...,...
567,Bamako,12.65,-8.00,75.20,94,20,3.36,ML,1595282523
568,Lapasan,8.48,124.66,75.99,87,57,4.00,PH,1595282648
569,Chenzhou,25.80,113.03,75.38,88,95,4.05,CN,1595282648
570,Strathmore,51.05,-113.39,73.00,60,0,3.00,CA,1595282550
575,Masuguru,-11.37,38.42,70.56,67,81,3.33,TZ,1595282649

In [10]:
weather_criteria = weather_criteria[weather_criteria["Cloudiness"] == 0]
weather_criteria

,City,Lat,Lng,Max temp,Humidity,Cloudiness,Wind speed,Country,Date
105,Conde,-7.26,-34.91,73.40,83,0,6.93,BR,1595282514
176,Oktyabr'skoye,43.06,44.74,75.20,78,0,2.24,RU,1595282554
211,Tiznit Province,29.58,-9.50,72.70,63,0,2.51,MA,1595281979
277,Kisangani,0.52,25.20,72.03,70,0,1.23,CD,1595282463
279,Dubrovnik,42.65,18.09,77.00,50,0,9.17,HR,1595282577
361,CamapuÃ£,-19.53,-54.04,76.26,32,0,6.20,BR,1595282597
379,Soyo,-6.13,12.37,71.42,90,0,6.06,AO,1595282601
419,Rafina,38.02,24.01,78.01,68,0,3.36,GR,1595282611
433,HyÃ¨res,43.12,6.12,75.20,78,0,4.70,FR,1595282578
512,Rialma,-15.31,-49.58,71.08,31,0,4.92,BR,1595282635
522,Ust-Nera,64.57,143.20,74.23,43,0,3.27,RU,1595282073
570,Strathmore,51.05,-113.39,73.00,60,0,3.00,CA,1595282550

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [11]:
hotel_df = weather_criteria

In [12]:
hotel_df

,City,Lat,Lng,Max temp,Humidity,Cloudiness,Wind speed,Country,Date
105,Conde,-7.26,-34.91,73.40,83,0,6.93,BR,1595282514
176,Oktyabr'skoye,43.06,44.74,75.20,78,0,2.24,RU,1595282554
211,Tiznit Province,29.58,-9.50,72.70,63,0,2.51,MA,1595281979
277,Kisangani,0.52,25.20,72.03,70,0,1.23,CD,1595282463
279,Dubrovnik,42.65,18.09,77.00,50,0,9.17,HR,1595282577
361,CamapuÃ£,-19.53,-54.04,76.26,32,0,6.20,BR,1595282597
379,Soyo,-6.13,12.37,71.42,90,0,6.06,AO,1595282601
419,Rafina,38.02,24.01,78.01,68,0,3.36,GR,1595282611
433,HyÃ¨res,43.12,6.12,75.20,78,0,4.70,FR,1595282578
512,Rialma,-15.31,-49.58,71.08,31,0,4.92,BR,1595282635
522,Ust-Nera,64.57,143.20,74.23,43,0,3.27,RU,1595282073
570,Strathmore,51.05,-113.39,73.00,60,0,3.00,CA,1595282550

In [62]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
 
params = {"radius": 5000, "keyword": "Hotel",
         "types": "lodging", "key": g_key}

for index, row in hotel_df.iterrows():
    lat = row['Lat']
    lng = row['Lng']
    
    params['location'] = f"{lat}, {lng}"
    
    hotel_location = requests.get(base_url, params=params)
    
    hotel_location = hotel_location.json()
    
    try:
        hotel_df.loc[index, 'Hotel'] = hotel_location['results'][0]['name']
        
    except:
        print("Missing data/field. Skip and continue.")
    
hotel_df

Missing data/field. Skip and continue.

C:\Users\Jsodhi\Anaconda3\lib\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

Missing data/field. Skip and continue.

,City,Lat,Lng,Max temp,Humidity,Cloudiness,Wind speed,Country,Date,Hotel
105,Conde,-7.26,-34.91,73.40,83,0,6.93,BR,1595282514,NaN
176,Oktyabr'skoye,43.06,44.74,75.20,78,0,2.24,RU,1595282554,Aleksandrovskiy
211,Tiznit Province,29.58,-9.50,72.70,63,0,2.51,MA,1595281979,NaN
277,Kisangani,0.52,25.20,72.03,70,0,1.23,CD,1595282463,Palm Beach Hotel
279,Dubrovnik,42.65,18.09,77.00,50,0,9.17,HR,1595282577,Royal Blue Hotel
361,CamapuÃ£,-19.53,-54.04,76.26,32,0,6.20,BR,1595282597,Calderan Palace Hotel
379,Soyo,-6.13,12.37,71.42,90,0,6.06,AO,1595282601,Kinwica
419,Rafina,38.02,24.01,78.01,68,0,3.36,GR,1595282611,Ramada by Wyndham Attica Riviera
433,HyÃ¨res,43.12,6.12,75.20,78,0,4.70,FR,1595282578,HÃ´tel des Palmiers
512,Rialma,-15.31,-49.58,71.08,31,0,4.92,BR,1595282635,Premier Hotel
522,Ust-Nera,64.57,143.20,74.23,43,0,3.27,RU,1595282073,Gostevoy Dom
570,Strathmore,51.05,-113.39,73.00,60,0,3.00,CA,1595282550,Best Western Strathmore Inn

In [45]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [50]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_context_box=hotel_info)
fig.add_layer(markers)
fig

# Display figure

Figure(layout=FigureLayout(height='420px'))