# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
city_data = pd.read_csv('out.csv')
city_data

,City,Lat,Lng,Max temp,Humidity,Cloudiness,Wind speed,Country,Date
0,Puerto Baquerizo Moreno,-0.90,-89.60,73.40,78,75,14.99,EC,1595453586
1,Hermanus,-34.42,19.23,54.00,92,0,3.85,ZA,1595453345
2,Tasiilaq,65.61,-37.64,42.80,87,35,5.82,GL,1595453586
3,Coahuayana Viejo,18.73,-103.68,88.54,60,98,6.98,MX,1595453586
4,Vostok,46.49,135.88,64.11,94,97,1.12,RU,1595453515
...,...,...,...,...,...,...,...,...,...
560,Jiuquan,39.74,98.52,69.17,50,100,8.52,CN,1595453498
561,Port Augusta,-32.50,137.77,33.01,85,40,5.82,AU,1595453728
562,Laramie,41.31,-105.59,82.40,15,90,8.05,US,1595453728
563,Berdigestyakh,62.10,126.70,63.09,74,0,5.28,RU,1595453729
564,Taksimo,56.34,114.88,58.42,81,100,1.66,RU,1595453729

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

In [4]:
locations = city_data[["Lat", "Lng"]].astype(float)

In [5]:
weight = city_data["Humidity"].astype(float)

In [8]:
fig = gmaps.figure()
#Plot the heatmap
center_coordinates = (0.00, 0.00)
layout = {'width': '600px', 'height': '400px', 'padding': '1px', 'margin': '0 auto 0 auto'}
fig = gmaps.figure(layout=layout,center=center_coordinates, zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=weight, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1.5)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='400px', margin='0 auto 0 auto', padding='1px', width='600px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [9]:
weather_criteria = city_data[city_data["Max temp"] > 70]
weather_criteria

,City,Lat,Lng,Max temp,Humidity,Cloudiness,Wind speed,Country,Date
0,Puerto Baquerizo Moreno,-0.90,-89.60,73.40,78,75,14.99,EC,1595453586
3,Coahuayana Viejo,18.73,-103.68,88.54,60,98,6.98,MX,1595453586
5,Panguna,-6.32,155.48,74.62,85,72,2.95,PG,1595453587
7,Las Palmas,28.42,-14.01,73.40,88,20,13.87,ES,1595453587
9,Kavaratti,10.57,72.64,81.66,81,78,11.79,IN,1595453588
...,...,...,...,...,...,...,...,...,...
553,Totness,5.88,-56.32,79.86,83,93,8.81,SR,1595453726
556,Virginia Beach,36.85,-75.98,98.01,44,75,12.75,US,1595452944
557,Les Cayes,18.20,-73.75,84.27,68,61,9.31,HT,1595453727
559,Progreso,21.28,-89.67,91.00,66,75,6.93,MX,1595453600
562,Laramie,41.31,-105.59,82.40,15,90,8.05,US,1595453728

In [10]:
weather_criteria = weather_criteria[weather_criteria["Max temp"] < 80]
weather_criteria

,City,Lat,Lng,Max temp,Humidity,Cloudiness,Wind speed,Country,Date
0,Puerto Baquerizo Moreno,-0.90,-89.60,73.40,78,75,14.99,EC,1595453586
5,Panguna,-6.32,155.48,74.62,85,72,2.95,PG,1595453587
7,Las Palmas,28.42,-14.01,73.40,88,20,13.87,ES,1595453587
10,Cap-aux-Meules,47.38,-61.86,71.60,56,75,9.17,CA,1595453588
14,Jamestown,42.10,-79.24,79.00,73,20,12.75,US,1595453589
...,...,...,...,...,...,...,...,...,...
542,Neiafu,-18.65,-173.98,77.00,73,40,8.05,TO,1595453723
543,Abu Samrah,35.30,37.18,72.48,57,0,7.16,SY,1595453723
544,Kutum,14.20,24.67,72.55,72,69,20.47,SD,1595453723
551,Kirakira,-10.45,161.92,79.83,83,100,13.71,SB,1595453725
553,Totness,5.88,-56.32,79.86,83,93,8.81,SR,1595453726

In [11]:
weather_criteria = weather_criteria[weather_criteria["Wind speed"] < 10]
weather_criteria

,City,Lat,Lng,Max temp,Humidity,Cloudiness,Wind speed,Country,Date
5,Panguna,-6.32,155.48,74.62,85,72,2.95,PG,1595453587
10,Cap-aux-Meules,47.38,-61.86,71.60,56,75,9.17,CA,1595453588
17,Mouila,-1.87,11.06,73.04,80,73,2.04,GA,1595453590
22,Vaini,-21.20,-175.20,73.40,73,40,5.82,TO,1595453507
25,Arraial do Cabo,-22.97,-42.03,71.60,94,0,6.93,BR,1595453592
...,...,...,...,...,...,...,...,...,...
533,Upata,8.01,-62.40,75.99,94,96,4.00,VE,1595453720
541,Sibolga,1.74,98.78,75.58,88,99,4.36,ID,1595453722
542,Neiafu,-18.65,-173.98,77.00,73,40,8.05,TO,1595453723
543,Abu Samrah,35.30,37.18,72.48,57,0,7.16,SY,1595453723
553,Totness,5.88,-56.32,79.86,83,93,8.81,SR,1595453726

In [12]:
weather_criteria = weather_criteria[weather_criteria["Cloudiness"] == 0]
weather_criteria

,City,Lat,Lng,Max temp,Humidity,Cloudiness,Wind speed,Country,Date
25,Arraial do Cabo,-22.97,-42.03,71.60,94,0,6.93,BR,1595453592
107,Agía Galíni,35.10,24.68,78.01,50,0,1.01,GR,1595453613
109,Bonito,-21.12,-56.48,72.95,43,0,2.44,BR,1595453614
168,Poggibonsi,43.47,11.15,72.00,59,0,4.00,IT,1595453627
245,Cefalù,38.04,14.02,75.99,83,0,4.00,IT,1595453645
250,Mehrān,33.12,46.16,78.80,24,0,4.70,IR,1595453647
252,Qiongshan,20.01,110.35,78.80,88,0,2.24,CN,1595453647
357,São João da Barra,-21.64,-41.05,77.00,69,0,6.93,BR,1595453671
358,Al Bardīyah,31.76,25.09,73.65,78,0,9.37,LY,1595453671
390,Vinh,18.67,105.67,76.62,85,0,2.51,VN,1595453423
439,Cavalcante,-13.80,-47.46,70.14,42,0,5.06,BR,1595453695
489,Atyrau,47.12,51.88,71.60,56,0,8.95,KZ,1595453708
510,Cangas do Morrazo,42.26,-8.78,73.40,64,0,3.36,ES,1595453714
512,Bayir,37.27,28.22,73.40,73,0,1.12,TR,1595453715
543,Abu Samrah,35.30,37.18,72.48,57,0,7.16,SY,1595453723

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [13]:
hotel_df = weather_criteria

In [14]:
hotel_df

,City,Lat,Lng,Max temp,Humidity,Cloudiness,Wind speed,Country,Date
25,Arraial do Cabo,-22.97,-42.03,71.60,94,0,6.93,BR,1595453592
107,Agía Galíni,35.10,24.68,78.01,50,0,1.01,GR,1595453613
109,Bonito,-21.12,-56.48,72.95,43,0,2.44,BR,1595453614
168,Poggibonsi,43.47,11.15,72.00,59,0,4.00,IT,1595453627
245,Cefalù,38.04,14.02,75.99,83,0,4.00,IT,1595453645
250,Mehrān,33.12,46.16,78.80,24,0,4.70,IR,1595453647
252,Qiongshan,20.01,110.35,78.80,88,0,2.24,CN,1595453647
357,São João da Barra,-21.64,-41.05,77.00,69,0,6.93,BR,1595453671
358,Al Bardīyah,31.76,25.09,73.65,78,0,9.37,LY,1595453671
390,Vinh,18.67,105.67,76.62,85,0,2.51,VN,1595453423
439,Cavalcante,-13.80,-47.46,70.14,42,0,5.06,BR,1595453695
489,Atyrau,47.12,51.88,71.60,56,0,8.95,KZ,1595453708
510,Cangas do Morrazo,42.26,-8.78,73.40,64,0,3.36,ES,1595453714
512,Bayir,37.27,28.22,73.40,73,0,1.12,TR,1595453715
543,Abu Samrah,35.30,37.18,72.48,57,0,7.16,SY,1595453723

In [15]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
 
params = {"radius": 5000, "keyword": "Hotel",
         "types": "lodging", "key": g_key}

for index, row in hotel_df.iterrows():
    lat = row['Lat']
    lng = row['Lng']
    
    params['location'] = f"{lat}, {lng}"
    
    hotel_location = requests.get(base_url, params=params)
    
    hotel_location = hotel_location.json()
    
    try:
        hotel_df.loc[index, 'Hotel'] = hotel_location['results'][0]['name']
        
    except:
        print("Missing data/field. Skip and continue.")
    
hotel_df

C:\Users\Jsodhi\Anaconda3\lib\site-packages\pandas\core\indexing.py:844: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\Jsodhi\Anaconda3\lib\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

Missing data/field. Skip and continue.
Missing data/field. Skip and continue.
Missing data/field. Skip and continue.

,City,Lat,Lng,Max temp,Humidity,Cloudiness,Wind speed,Country,Date,Hotel
25,Arraial do Cabo,-22.97,-42.03,71.60,94,0,6.93,BR,1595453592,Orlanova Hotel
107,Agía Galíni,35.10,24.68,78.01,50,0,1.01,GR,1595453613,Sky Beach Hotel
109,Bonito,-21.12,-56.48,72.95,43,0,2.44,BR,1595453614,Pousada Arte da Natureza
168,Poggibonsi,43.47,11.15,72.00,59,0,4.00,IT,1595453627,Hotel Villa San Giorgio
245,Cefalù,38.04,14.02,75.99,83,0,4.00,IT,1595453645,Hotel Le Calette
250,Mehrān,33.12,46.16,78.80,24,0,4.70,IR,1595453647,NaN
252,Qiongshan,20.01,110.35,78.80,88,0,2.24,CN,1595453647,"The Ritz-Carlton, Haikou"
357,São João da Barra,-21.64,-41.05,77.00,69,0,6.93,BR,1595453671,OYO Pousada Mediterrâneo
358,Al Bardīyah,31.76,25.09,73.65,78,0,9.37,LY,1595453671,Hotel Burdy
390,Vinh,18.67,105.67,76.62,85,0,2.51,VN,1595453423,Khách sạn Mường Thanh Luxury Sông Lam
439,Cavalcante,-13.80,-47.46,70.14,42,0,5.06,BR,1595453695,Pousada Recanto da Mata
489,Atyrau,47.12,51.88,71.60,56,0,8.95,KZ,1595453708,Marriott Executive Apartments Atyrau
510,Cangas do Morrazo,42.26,-8.78,73.40,64,0,3.36,ES,1595453714,Hotel NH Collection Vigo
512,Bayir,37.27,28.22,73.40,73,0,1.12,TR,1595453715,NaN
543,Abu Samrah,35.30,37.18,72.48,57,0,7.16,SY,1595453723,NaN

In [16]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [20]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(markers)
fig

# Display figure

Figure(layout=FigureLayout(height='400px', margin='0 auto 0 auto', padding='1px', width='600px'))